

.top_carousel{
    height: calc(100vh - 64px) !important;
}

.top_carousel a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.top_carousel a img{
    min-height: 100% !important;
    width: unset !important;
    min-width: 100% !important;
}

.top_text{
    position: absolute;
    width: 150px;
    height: 100px;
    background: rgba(255, 255, 255, 0.7);
    color: #880e4f;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px black;
    font-size: 1.5rem;
    transition: all 230ms ease;
    transform: perspective(800px) rotateY(25deg) scale(0.9) rotateX(10deg);
    filter: blur(1px);
    opacity: 0.6;
}

.top_text.isShow{
    transform: perspective(800px) rotateY(-15deg) translateY(-10px) rotateX(10deg) scale(1) ;
    filter: blur(0);
    opacity: 1;
}




.social_items_icon a{
    transition: all 100ms linear;
}
.social_items_icon a:hover{
    text-shadow: 0 0 8px black;
    transform: scale(1.2);
    color: #e1bee7 !important;
}