

.top_carousel{
    height: calc(100vh - 64px) !important;
}

.top_carousel a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.top_carousel a img{
    min-height: 100% !important;
    width: unset !important;
    min-width: 100% !important;
}

.top_text{
    position: absolute;
    width: 150px;
    height: 100px;
    background: rgba(255, 255, 255, 0.7);
    color: #880e4f;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px black;
    font-size: 1.5rem;
    transition: all 230ms ease;
    transform: perspective(800px) rotateY(25deg) scale(0.9) rotateX(10deg);
    filter: blur(1px);
    opacity: 0.6;
}

.top_text.isShow{
    transform: perspective(800px) rotateY(-15deg) translateY(-10px) rotateX(10deg) scale(1) ;
    filter: blur(0);
    opacity: 1;
}



.subtitl{
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 4px solid #880e4f;
    margin-top: 5px;
}

.quick_access_items .image img{
    border-radius: 50%;
    width: 100%;
    max-width: 135px;
}

.quick_access_items h2{
    font-size: 1.5rem;
    margin: 0;
}

.quick_item {
    transform: perspective(800px) rotateY(25deg) scale(0.9) rotateX(10deg);
    transition: 0.6s ease all;
  }
  
  .quick_item:hover {
    transform: perspective(800px) rotateY(-15deg) translateY(-10px) rotateX(10deg)
      scale(1);
    filter: blur(0);
    opacity: 1;
    filter: drop-shadow(0 0 5px #880e4f);
    -webkit-filter: drop-shadow(0 0 5px #880e4f);
  }

  .subtitle2{
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 4px solid #4a148c;
    margin-top: 5px;
}

.simple_item{
    height: 30vh;
    padding: 0.5rem;
}
.simple_item .image{
    height: 100% !important;
    width: 100% !important;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.simple_item .image img{
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    -o-object-fit: cover;
    -webkit-object-fit: cover;
    -moz-object-fit: cover;
}

.simple_item .image::after{
    content: "مشاهده گالری";
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(39, 2, 39, 0.8) ;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: all 200ms ease;
    color: #f8bbd0;
    border-radius: 5px !important;
}

.simple_item:hover .image::after{
    transform: scale(1);
}



.d_flex_center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.social_items_icon a{
    transition: all 100ms linear;
}
.social_items_icon a:hover{
    text-shadow: 0 0 8px black;
    transform: scale(1.2);
    color: #e1bee7 !important;
}