body{
    background: linear-gradient(#30086196 , #7a0b3796 , #30086196) , 
    url(/assets/images/body_back4.jpg) repeat;
}

.login_section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10vh 0.5rem 2rem 0.5rem;
}

.login_section *{
    color: white !important;
}

.login_section input:not(.browser-default){
    border-bottom: 1px solid white;
}

.login_content{
    padding: 1rem !important;
    background: #ffffff26;
    border-radius: 5px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135 , 0.7);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.button_box .btn{
    background: rgba(255, 255, 255, 0.2);
}