@font-face{
    font-family: "BYekan";
    src: url("../fonts/yekan/BYekan-webfont.eot") format("eot"),
        url("../fonts/yekan/BYekan-webfont.woff") format("woff"),
        url("../fonts/yekan/BYekan-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body{
    background: url(/assets/images/body_back4.jpg) repeat;
}

*{
    font-family: "BYekan";
    direction: rtl;
    text-align: right;
}


/* scrollbars ------------------ */
::-webkit-scrollbar{
    width: 5px !important;
}

::-webkit-scrollbar-track{
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb{
    background: #888;
}

::-webkit-scrollbar-thumb:hover{
    background: #555;
}

.nav_container{
    filter: drop-shadow(0 0 5px black);
    -webkit-filter:  drop-shadow(0 0 5px black);
}

nav .brand-logo{
    width: 80px;
    top: 0.5rem;
}

nav .brand-logo img{
    width: 100%;
    filter: drop-shadow(0 0 1px white);
    -webkit-filter: drop-shadow(0 0 1px white);
    transition: all 200ms ease;
}

nav .brand-logo img:hover{
    filter: drop-shadow(0 0 5px #f8bbd0);
}

nav ul li a:hover{
    background: transparent;
}

.navbar_ul{
    display: flex;
    position: relative;
    right: 85px !important;
}

.mt_4{
    margin-top: 2rem !important;
}

.mt_8{
    margin-bottom: 4rem !important;
}
.w_100{
    width: 100% !important;
}


.my_4{
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}

.mx_2{
    margin-left: 1rem !important;
    margin-right: 1rem !important;
}


.mx_1{
    margin-left: 0.5rem !important;
    margin-right: 0.5rem !important;
}

.page-footer{
    background-color: transparent !important;
    display: flex;
    flex-direction: column;
    filter: drop-shadow(0 0 5px black);
    -webkit-filter: drop-shadow(0 0 5px black);
}

.page-footer .row{
    margin: 0 !important;
}



.menu_links_desktop::after{
    content: "";
    width: 100%;
    height: 3px;
    background: #f8bbd0 ;
    display: block;
    position: relative;
    bottom: 10px;
    transform: scaleX(0);
    transition: all 200ms ease;
    border-radius: 20%;
}

.menu_links_desktop:hover::after{
    transform: scaleX(1);
}

.menu_links_desktop.active::after{
    content: "";
    width: 100%;
    height: 3px;
    background: #f8bbd0 ;
    display: block;
    position: relative;
    bottom: 10px;
    transform: scaleX(1);
    border-radius: 20%;
}

/* top menu mobile  status */
#mobile-demo{
    background: linear-gradient(#4a148cc5 , #c2185bb9 , #4a148cd3) ,
        url(../images/sideBack.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mobile-demo li{
    width: 100%;
}
#mobile-demo li a{
    text-align: center;
    color: white;
    transition: all 100ms ease;
}
#mobile-demo li a:hover{
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 1.3rem;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
}

#nav_svg{
   position: fixed;
   top: 32px; 
   pointer-events: none !important;
}

@media(min-width:992px){
    nav .brand-logo{
        right: 5px !important;
    }
}



