@font-face{
    font-family: "BYekan";
    src: url("../fonts/yekan/BYekan-webfont.eot") format("eot"),
        url("../fonts/yekan/BYekan-webfont.woff") format("woff"),
        url("../fonts/yekan/BYekan-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body{
    background: url(/assets/images/body_back4.jpg) repeat;
}

*{
    font-family: "BYekan";
    direction: rtl;
    text-align: right;
}


/* scrollbars ------------------ */
::-webkit-scrollbar{
    width: 5px !important;
}

::-webkit-scrollbar-track{
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb{
    background: #888;
}

::-webkit-scrollbar-thumb:hover{
    background: #555;
}

.nav_container{
    filter: drop-shadow(0 0 5px black);
    -webkit-filter:  drop-shadow(0 0 5px black);
}

nav .brand-logo{
    width: 80px;
    top: 0.5rem;
}

nav .brand-logo img{
    width: 100%;
    filter: drop-shadow(0 0 1px white);
    -webkit-filter: drop-shadow(0 0 1px white);
    transition: all 200ms ease;
}

nav .brand-logo img:hover{
    filter: drop-shadow(0 0 5px #f8bbd0);
}

nav ul li a:hover{
    background: transparent;
}

.navbar_ul{
    display: flex;
    position: relative;
    right: 85px !important;
}

.mt_4{
    margin-top: 2rem !important;
}

.mt_8{
    margin-top: 4rem !important;
}
.w_100{
    width: 100% !important;
}


.my_4{
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}

.mx_2{
    margin-left: 1rem !important;
    margin-right: 1rem !important;
}


.mx_1{
    margin-left: 0.5rem !important;
    margin-right: 0.5rem !important;
}

.page-footer{
    background-color: transparent !important;
    display: flex;
    flex-direction: column;
    filter: drop-shadow(0 0 5px black);
    -webkit-filter: drop-shadow(0 0 5px black);
}

.page-footer .row{
    margin: 0 !important;
}



.menu_links_desktop::after{
    content: "";
    width: 100%;
    height: 3px;
    background: #f8bbd0 ;
    display: block;
    position: relative;
    bottom: 10px;
    transform: scaleX(0);
    transition: all 200ms ease;
    border-radius: 20%;
}

.menu_links_desktop:hover::after{
    transform: scaleX(1);
}

.menu_links_desktop.active::after{
    content: "";
    width: 100%;
    height: 3px;
    background: #f8bbd0 ;
    display: block;
    position: relative;
    bottom: 10px;
    transform: scaleX(1);
    border-radius: 20%;
}

/* top menu mobile  status */
#mobile-demo{
    background: linear-gradient(#4a148cc5 , #c2185bb9 , #4a148cd3) ,
        url(../images/sideBack.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mobile-demo li{
    width: 100%;
}
#mobile-demo li a{
    text-align: center;
    color: white;
    transition: all 100ms ease;
}
#mobile-demo li a:hover{
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 1.3rem;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
}

#nav_svg{
   position: fixed;
   top: 32px; 
   pointer-events: none !important;
}


.devider{
    width: 100%;
    filter: drop-shadow(0 0 5px #880e4f);
    margin: 3rem 0 !important;
}

.devider img{
    width: 90%;
    max-width: 450px;
}

.p_2{
    padding: 1rem !important;
}

.px_2{
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.my_2{
    margin: 1rem 0 !important;
}

@media(min-width:992px){
    nav .brand-logo{
        right: 5px !important;
    }
}

.simple_item , .simple_item2{
    height: 30vh;
    padding: 0.5rem;
}
.simple_item .image , .simple_item2 .image{
    height: 100% !important;
    width: 100% !important;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.simple_item .image img , .simple_item2 .image img{
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    -o-object-fit: cover;
    -webkit-object-fit: cover;
    -moz-object-fit: cover;
}

.simple_item .image::after , .simple_item2 .image::after{
    content: "مشاهده گالری";
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(39, 2, 39, 0.8) ;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: all 200ms ease;
    color: #f8bbd0;
    border-radius: 5px !important;
}

.simple_item:hover .image::after , .simple_item2:hover .image::after{
    transform: scale(1);
}

.my_1{
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}




.subtitl{
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 4px solid #880e4f;
    margin-top: 5px;
}


.subtitle2{
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 4px solid #4a148c;
    margin-top: 5px;
}


.quick_access_items .image img{
    border-radius: 50%;
    width: 100%;
    max-width: 135px;
}

.quick_access_items h2{
    font-size: 1.5rem;
    margin: 0;
}

.quick_item {
    transform: perspective(800px) rotateY(25deg) scale(0.9) rotateX(10deg);
    transition: 0.6s ease all;
  }
  
  .quick_item:hover {
    transform: perspective(800px) rotateY(-15deg) translateY(-10px) rotateX(10deg)
      scale(1);
    filter: blur(0);
    opacity: 1;
    filter: drop-shadow(0 0 5px #880e4f);
    -webkit-filter: drop-shadow(0 0 5px #880e4f);
  }



.d_flex_center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination li.active{
    background-color: #880e4f;
}

.text_justify{
    text-align: justify !important;
}

.position_relative{
    position: relative !important;
}

.px_1{
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}

.d_flex_between{
    display: flex;
    justify-content: space-between;
}

.my_1{
   margin-top: 0.5rem !important; 
   margin-bottom: 0.5rem !important; 
}
.py_1{
   padding-top: 0.5rem !important; 
   padding-bottom: 0.5rem !important; 
}

.h_100{
    height: 100% !important;
}

#comments_container{
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    padding: 1rem;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    text-align: center;
}

.d_block{
    display: block !important;
}


#gallery_section{
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background: rgba(46, 30, 46, 0.95);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    opacity: 0;
    transition: all 300ms ease;
}

#gallery_section.active{
    transform: scale(1);
    opacity: 1;
}

#gallery_section i{
    position: absolute;
    top: 5px ;
    left: 5px;
    cursor: pointer;
}

#gallery_section .gallery_content{
    width: 100%;
    height: 80vh !important;
}

#gallery_section .carousel-item{
    height: 100% !important;
    width: 50vw;
}

#gallery_section .carousel-item img{
    border-radius: 10px;
}

@media(max-width:900px){
    
    #gallery_section .carousel-item{
        width: 95vw;
    }
}

